__pycache__/
*.py[cod]
*$py.class
dist/
build/
*.egg-info

.venv
.env
venv
env

*.lock
*.cache

.DS_STORE

.ropeproject
# Thanks to Zed, that for some reason using something
# by default, without my permission.

docs/_build
